*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
    font-family: sans-serif;
}
a, a:hover{
    text-decoration: none;
}

/* header code start */

.header{
    width: 100%;
    background: url("../images/b1 1.png") center top no-repeat;
    background-size: cover;
}
.header .bg-light{
    background: transparent !important;
}
.navbar-light .navbar-nav .nav-link.active{
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.navbar-light .navbar-nav .nav-link{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
    margin: 0px 0px 5px 30px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active:focus{
    color: #608cf9;
}
.header .navbar .btn-light{
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
	padding: 7px 15px;
    border: #000;
	border-radius: 30px;
	margin: 0px 0px 0px 25px;
    transition: 0.5s ease-in;
}
.header .navbar .btn-light:hover{
    background:  #082878 ;
    color: #fff;
}
.banner{
    width: 100%;
    padding: 320px 0px;
}
.banner .title{
    width: 100%;
    padding: 40px 0px;
}
.title h2{
    font-size: 72px;
    line-height: 82px;
    font-weight: 600;
    color: #fff;
    margin: 0px 0px 20px;
}	
.title p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
}
.banner .title {
	padding: 0px 0px;
	margin: 45px 0px 0px;
}
/* header code end */


/* help code end */

.help{
    width: 100%;
    padding: 40px 0px;
    background:  #48BD97;
}
.help .title{
    width: 100%;
}
.help .title {
    width: 70%;
    text-align: center;
}
.help .title .btn-light{
	font-size: 15px;
	line-height: 25px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
	padding: 7px 18px;
    border: #000;
	border-radius: 30px;
	margin: 45px 0px 0px 25px;
    transition: 0.6s ease-in;
}
.help .title .btn-light:hover{
    background:  #082878;
    color: #fff;
}

/* help code end */

/* mission code end */

.mission{
    width: 100%;
    padding: 60px 0px;
}
.mission .title h2{
    text-align: center;
    color: #000;
}
.mission .card{
    border-style: none;
    margin: 70px 0px 0px;
}
.mission .card .card-body {
	padding: 16px 30px;
	margin: -14px 0px 0px;
}
.mission .card .card-body:hover{
    box-shadow: 3px 3px 6px 3px #eee;
}
.mission .card .card-body h6 {
	font-size: 16px;
	line-height: 52px;
	font-weight: 600;
	color: #000;
	border-bottom: 1px solid green;
	width: 42%;
    position: relative;
    margin: 20px 0px 0px;
}
.mission .card .card-body img {
	position: absolute;
	top: 15px;
	left: 210px;
}
.mission .card .card-body p{
     font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
    margin: 12px 0px 0px;
}

/* mission code end */

/* Acheivement code end */

.acheivment{
    width: 100%;
    padding: 40px 0px;
    background:   #fdfdff  ;
}
.acheivment h2{
    color: #000;
    text-align: center;
}
.acheivment .inner-acheiv{
    width: 100%;
    text-align: inherit;
    margin: 140px 0px 0px;
}
.inner-acheiv h5 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
	color: #000;
	margin: 0px 0px 40px;
}
.inner-acheiv p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: #000;
	width: 76%;
	margin: 0px 0px 57px;
}
.inner-acheiv h6 {
	font-size: 14px;
	font-weight: 500;
	color: #000;
}
.acheivment .img-fluid {
	margin: 50px 0px 0px;
	width: 400px;
	height: 360px;
}

/* Acheivement code end */

/* counter-js code end */

.counter-js{
    width: 100%;
    padding: 60px 0px;
}
.counter-js .title h2{
    color: #000;
    text-align: center;
}
.counter-js .title p{
    color: #000;
    text-align: center;
    margin: 0px 0px 55px;
}
.inner-c{
	width: 70%;
	padding: 18px;
	border: 1px solid #5148C2;
	background: #5148C2;
    border-radius: 5px;
}
.inner-c i {
	font-size: 20px;
	line-height: 30px;
	margin: 0px 0px;
	color: #fff;
}
.inner-c h4 {
	font-size: 24px;
	line-height: 34px;
	color: #fff;
	font-weight: 500;
	margin: 0px;
}
.inner-c h5 {
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	font-weight: 400;
	margin: 0px;
}

/* counter-js code end */

/* event code end */

.event{
    width: 100%;
    padding: 60px 0px;
    background: #fcfcff;
}
.event .title h2{
    color: #000;
}
.event .card{
	width: 90%;
	padding: 0px;
    border-radius: 15px;
    box-shadow: 3px 4px 12px 2px #eee;
    margin: 55px 0px 0px;
}
/* .card:hover{
    box-shadow: 2px 3px 10px 2px #eee;
} */
.event .card-body{
    text-align: inherit;
    margin: -5px 0px 0px 13px;
    position: relative;
}
.event .card .card-title{
	font-size: 14px;
	line-height: 24px;
	color: #8B8B8C;
    font-weight: 500;
	margin: -30px 0px 8px;
}
.event .card .card-text {
	font-size: 16px;
	line-height: 26px;
	color: #000;
	font-weight: 600;
	margin: 0px;
}
.event .card .btn-light{
    position: absolute;
    top: -8px;
    left: 175px;
	font-size: 12px;
    line-height: 22px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 18px;
    background: #48BD97;
    border: 1px solid #48BD97;
	border-radius: 30px;
	margin: 10px 0px 10px;
    transition: 0.5s ease-in;
}
.event .card .btn-light:hover{
    border: 1px solid #082878;
    background:  #082878;
    color: #fff;
}

/* event code end */

/* event code end */

.gallary{
    width: 100%;
    padding: 40px 0px;
    background: #eee;
}
.gallary .title h2{
    color: #000;
}
.owl-carousel .owl-item img {
	display: block;
	width: 60%;
	margin: 40px auto;
}
.owl-carousel .owl-nav span {
	font-size: 0px;
}
.owl-carousel .owl-theme .owl-dots, .owl-theme .owl-nav {
	margin: -50px 0px 0px;
}

/* event code end */

/* testimonial code start */

.testimonial{
    width: 100%;
    padding: 60px 0px;
}
.testimonial .title h2{
    color: #000;
}
.testimonial .inner-test{
    width: 100%;
    padding: 140px;
    position: relative;
    background: #f4f8fa;
    border: 1px solid #eee;
}
.testimonial .inner-test img {
	position: absolute;
	top: 30px;
	left: 75px;
}
.testimonial .inner-test p {
	text-align: right;
	width: 48%;
	position: absolute;
	top: 75px;
	left: 325px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
}
.testimonial .inner-test h5 {
	text-align: inherit;
	position: absolute;
	top: 212px;
	left: 120px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #000;

}
.testimonial .inner-test h6 {
	text-align: inherit;
	position: absolute;
	top: 240px;
	left: 120px;
    font-size: 13px;
    line-height: 23px;
    font-weight: 500;
    color: #000;
    margin: -5px 0px 0px;
}

/* testimonial code end */

/* footer code start */

.footer{
    width: 100%;
    padding: 40px 0px;
    background: #000;
}
.f-c p{
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	margin: 12px 15px 0px;
}
.f-list1 ul{
    display: inline-block;
    list-style: none;
}
.f-list1 ul li {
	display: block;
	margin: 6px 0px 0px 0px;
}
.f-list1 .b {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	margin: 0px;
}
.f-list1 ul li a{
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	margin: 0px;
}


.f-list2 ul{
    display: inline-block;
    list-style: none;
}
.f-list2 ul li {
	display: block;
	margin: 6px 0px 0px 0px;
}
.f-list2 .b1 {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	margin: 0px;
}
.f-list2 ul li a{
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	margin: 0px;
}


.f-list3 ul{
    display: inline-block;
    list-style: none;
}
.f-list3 ul li {
	display: block;
	margin: 6px 0px 0px 0px;
}
.f-list3 .b2 {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	margin: 0px;
}
.f-list3 ul li a{
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	margin: 0px;
}
.share{
    margin: 20px 0px 0px;
}
.share p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.share .btn-light{
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
	padding: 5px 20px;
    border: #000;
	border-radius: 30px;
	margin: 0px 0px 0px 25px;
    transition: 0.5s ease-in;
}
.share .btn-light:hover{
    background:  #082878;
    color: #fff;
}
.copyright{
    border-top: 1px solid #082878;  
}
.copyright p{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 15px 0px 0px;
    text-transform: capitalize;
    
}
/* footer code end */

	/*
		most of the low resulation phone like samsung flod
	*/

	@media (min-width: 279px) and (max-width: 319px) {

	/*code start*/
.header{
	width: 100%;
}
.header .img-fluid{
	width: 50%;
}
.title h2 {
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	color: #fff;
	margin: 0px 0px 5px;
}
 .navbar-toggler-icon span {
	background: #fff;
	color: #000;
	width: 22px;
	height: 22px;
}
.navbar-light .navbar-nav .nav-link.active {
	color: #fff;
	font-size: 12px;
	font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 12px;
	font-weight: 600;
}
.navbar-light .navbar-nav .nav-link.active:hover {
	color: #608cf9;
}
.header .navbar .btn-light {
	font-size: 10px;
	line-height: 20px;
	font-weight: 600;
	padding: 1px 10px;
}
.title h2 {
	font-size: 16px;
	line-height: 26px;
	margin: -133px 0px 5px;
	text-align: center;
}
.title p {
	font-size: 12px;
	line-height: 22px;
	text-align: center;
}
.help{
	width: 100%;
	padding: 0px;
}
.help .title h2{
	font-size: 16px;
	margin: -50px 0px 0px;
}
.help .title h2 {
	font-size: 12px;
	margin: 15px 0px 0px 66px;
	line-height: 18px;
}
.help .title p {
	font-size: 10px;
	margin: 0px auto;
	text-align: center;
	line-height: 16px;
	width: 142%;
}
.help .title .btn-light {
	font-size: 8px;
	line-height: 16px;
	padding: 5px 14px;
	margin: 10px 0px 10px 66px;
}
.mission{
	padding: 0px;
}
.mission .title h2 {
	margin: 30px 0px 0px;
}
.mission .card {
	border-style: none;
	margin: 45px 0px 0px;
}
.mission .card .card-body {
	padding: 0px 30px;
	margin: -10px 0px 0px;
	width: 110%;
	height: 120px;
	text-align: center;
}
.mission .card .card-body h6 {
	font-size: 11px;
	line-height: 21px;
	width: 42%;
	margin: 17px 0px 0px;
}
.mission .card .card-body p {
	font-size: 10px;
	line-height: 20px;
	width: 100%;
	margin: 15px 0px 0px 0px;
}
.mission .card .card-body img {
	top: 6px;
	left: 150px;
	width: 30px;
}
.acheivment{
	padding: 0px;
}
.inner-acheiv h5 {
	margin: -90px 0px 25px;
	text-align: center;
}
.inner-acheiv p {
	font-size: 12px;
	line-height: 22px;
	width: 100%;
	margin: 0px 0px 15px;
	text-align: center;
}
.inner-acheiv h6 {
	font-size: 13px;
	text-align: center;
}
.acheivment .img-fluid {
	margin: 15px 0px 0px;
	height: 242px;
}
.counter-js{
	padding: 20px;
}
.counter-js .title h2 {
	margin: 0px auto;
}
.inner-c {
	width: 100%;
	margin: -25px 0px 40px 0px;
}
.inner-c i {
	font-size: 18px;
	line-height: 28px;;
}
.inner-c h4 {
	font-size: 22px;
	line-height: 32px;
}
.inner-c h5 {
	font-size: 12px;
	line-height: 22px;
	margin: 0px 0px -10px;
}
.event{
	padding: 10px;
}
.event .title h2 {
	margin: 5px auto;
}
.event .card {
	width: 100%;
	margin: 15px 0px 0px;
}
.event .card .card-title {
	font-size: 10px;
	margin: -25px 0px 0px;
}
.event .card .card-text {
	font-size: 12px;
	line-height: 22px;
}
.event .card .btn-light {
	top: 0px;
	left: 130px;
	font-size: 8px;
	line-height: 18px;
	padding: 3px 8px;
}
.title h2 {
	font-size: 16px;
	line-height: 26px;
	margin: 0px auto;
	text-align: center;
}
.gallary{
	padding: 20px;
}
.owl-carousel .owl-item img {
	width: 100%;
	margin: 20px auto;
}
.owl-theme .owl-dots .owl-dot span {
	width: 5px;
	height: 5px;
	margin: 5px 3px;
}
.testimonial{
	padding: 20px;
}
.testimonial .inner-test {
	padding: 65px;
}
.testimonial .inner-test img {
	top: 36px;
	left: 12px;
	width: 60px;
}
.testimonial .inner-test p {
	width: 60%;
	top: 12px;
	left: 85px;
	font-size: 10px;
	line-height: 13px;
	letter-spacing: 1px;
	text-align: inherit;
}
.testimonial .inner-test h5 {
	text-align: left;
	top: 94px;
	left: 19px;
	font-size: 8px;
	line-height: 16px;
}
.testimonial .inner-test h6 {
	top: 108px;
	left: 27px;
	font-size: 6px;
	line-height: 15px;
	margin: -5px 0px 0px;
}
.footer{
	width: 100%;
	padding: 15px;
}
.f-c {
	text-align: center;
}
.f-c img {
	width: 100px;
}
.f-c p {
	font-size: 11px;
	margin: 0px 0px 0px;
}
.f-list1 ul li {
	margin: -3px 0px 0px 0px;
}
.f-list1 {
	text-align: center;
	width: 85%;
	margin: 10px 0px 0px;
}
.f-list1 .b {
	font-size: 12px;
}
.f-list1 ul li a {
	font-size: 10px;
}
.f-list2 ul li {
	margin: -3px 0px 0px 0px;
}
.f-list2 {
	text-align: center;
	width: 85%;
	margin: -12px 0px 0px;
}
.f-list2 .b1 {
	font-size: 12px;
}
.f-list2 ul li a {
	font-size: 10px;
}
.f-list3 ul li {
	margin: -3px 0px 0px 0px;
}
.f-list3 {
	text-align: center;
	width: 85%;
	margin: -12px 0px 0px;
}
.f-list3 .b2 {
	font-size: 12px;
}
.f-list3 ul li a {
	font-size: 10px;
}
.share p {
	font-size: 12px;
}
.share .btn-light {
	font-size: 11px;
	line-height: 21px;
	padding: 3px 16px;
	margin: -12px 0px 15px 0px;
}
.copyright p {
	font-size: 10px;
	margin: 5px 0px 0px;
}

	/*code start*/	
}

/*  
	most of the mobile, smartphones.

*/

@media (min-width: 320px) and (max-width: 420px){
	/*code start*/

	.header{
		width: 100%;
	}
	.header .img-fluid{
		width: 60%;
	}
	.header .title h2 {
		font-size: 30px;
		line-height: 40px;
		margin: 0px 0px 10px;
	}
	 .navbar-toggler-icon span {
		background: #fff;
		color: #000;
		width: 22px;
		height: 22px;
	}
	.navbar-light .navbar-nav .nav-link.active {
		font-size: 15px;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 15px;
	}
	.navbar-light .navbar-nav .nav-link.active:hover {
		color: #608cf9;
	}
	.header .navbar .btn-light {
		font-size: 12px;
		line-height: 22px;
		font-weight: 600;
		padding: 4px 20px;
	}
	.banner{
		padding: 0px;
	}
	.title h2 {
		font-size: 14px;
		line-height: 24px;
		margin: -133px 0px 5px;
		text-align: center;
	}
	.title p {
		font-size: 12px;
		line-height: 22px;
		text-align: center;
		padding: 0px 0px 50px;
	}
	.help{
		width: 100%;
		padding: 0px;
	}
	.help .title h2 {
		font-size: 16px;
		margin: 15px 0px 0px 105px;
		line-height: 20px;
	}
	.help .title p {
		font-size: 12px;
		line-height: 22px;
		width: 143%;
	}
	.help .title .btn-light {
		font-size: 9px;
		line-height: 18px;
		margin: -10px 0px 11px 105px;
	}
	.mission{
		padding: 0px;
	}
	.mission .title h2 {
		margin: 30px 0px 0px;
	}
	.mission .card {
		border-style: none;
		margin: 45px 0px 0px;
	}
	.mission .card .card-body {
		width: 107%;
		height: 160px;
		padding: 20px;
	}
	.mission .card .card-body h6 {
		font-size: 16px;
		line-height: 26px;
		width: 46%;
	}
	.mission .card .card-body p {
		font-size: 13px;
		line-height: 23px;
		width: 85%;
	}
	.mission .card .card-body img {
		top: 17px;
		left: 180px;
		width: 40px;
	}
	.acheivment{
		padding: 30px;
	}
	.acheivment .title h2 {
		font-size: 21px;
		line-height: 31px;
	}
	.inner-acheiv h5 {
		margin: -90px 0px 25px;
		text-align: center;
	}
	.inner-acheiv p {
		font-size: 13px;
		line-height: 23px;
		width: 100%;
		margin: 0px 0px 15px;
		text-align: center;
	}
	.inner-acheiv h6 {
		font-size: 13px;
		text-align: center;
	}
	.acheivment .img-fluid {
		margin: 15px 0px 0px;
		height: 242px;
	}
	.counter-js{
		padding: 20px;
	}
	.counter-js .title h2 {
		font-size: 20px;
		line-height: 31px;
	}
	.counter-js .title p {
		font-size: 14px;
		line-height: 24px;
	}
	.inner-c {
		width: 100%;
		margin: -25px 0px 40px 0px;
	}
	.inner-c i {
		font-size: 18px;
		line-height: 28px;;
	}
	.inner-c h4 {
		font-size: 22px;
		line-height: 32px;
	}
	.inner-c h5 {
		font-size: 12px;
		line-height: 22px;
		margin: 0px 0px -10px;
	}
	.event{
		padding: 10px;
	}
	.event .title h2 {
		margin: 5px 0px 18px;
		font-size: 21px;
		line-height: 31px;
	}
	.event .card {
		width: 100%;
		margin: 15px 0px 0px;
	}
	.event .card .card-title {
		font-size: 12px;
		line-height: 22px;
	}
	.event .card .card-text {
		font-size: 14px;
		line-height: 24px;
		margin: -7px 0px 0px;
	}
	.event .card .btn-light {
		top: -6px;
		left: 158px;
		padding: 4px 12px;
		font-size: 11px;
		line-height: 22px;
	}
	.title h2 {
		font-size: 16px;
		line-height: 26px;
		margin: 0px auto;
		text-align: center;
	}
	.gallary{
		padding: 20px;
	}
	.owl-carousel .owl-item img {
		width: 100%;
		margin: 20px auto;
	}
	.owl-theme .owl-dots .owl-dot span {
		width: 8px;
		height: 8px;
		margin: 6px 4px;
	}
	.testimonial{
		padding: 20px;
	}
	.testimonial .inner-test {
		padding: 68px;
	}
	.testimonial .title h2 {
		font-size: 21px;
		line-height: 31px;
		margin: 0px 0px 10px;
	}
	.testimonial .inner-test img {
		top: 22px;
		left: 12px;
		width: 80px;
	}
	.testimonial .inner-test p {
		width: 60%;
		top: 8px;
		left: 110px;
		font-size: 12px;
		line-height: 20px;
		text-align: inherit;
	}
	.testimonial .inner-test h5 {
		text-align: left;
		top: 100px;
		left: 25px;
		font-size: 11px;
		line-height: 18px;
	}
	.testimonial .inner-test h6 {
		top: 118px;
		left: 34px;
		font-size: 8px;
		line-height: 16px;
		margin: -5px 0px 0px;
	}
	.footer{
		width: 100%;
		padding: 15px;
	}
	.f-c {
		text-align: center;
	}
	.f-c img {
		width: 110px;
	}
	.f-c p {
		font-size: 12px;
		margin: 0px 0px 5px;
	}
	.f-list1 ul li {
		margin: -3px 0px 0px 0px;
	}
	.f-list1 {
		text-align: center;
		width: 85%;
		margin: 10px 0px 0px;
	}
	.f-list1 .b {
		font-size: 14px;
	}
	.f-list1 ul li a {
		font-size: 11px;
	}
	.f-list2 ul li {
		margin: -3px 0px 0px 0px;
	}
	.f-list2 {
		text-align: center;
		width: 85%;
		margin: -12px 0px 0px;
	}
	.f-list2 .b1 {
		font-size: 14px;
	}
	.f-list2 ul li a {
		font-size: 11px;
	}
	.f-list3 ul li {
		margin: -3px 0px 0px 0px;
	}
	.f-list3 {
		text-align: center;
		width: 85%;
		margin: -12px 0px 0px;
	}
	.f-list3 .b2 {
		font-size: 14px;
	}
	.f-list3 ul li a {
		font-size: 11px;
	}
	.share p {
		font-size: 14px;
	}
	.share .btn-light {
		font-size: 12px;
		line-height: 22px;
		padding: 4px 20px;
		margin: -8px 0px 15px 0px;
	}
	.copyright p {
		font-size: 12px;
		margin: 9px 0px 0px;
	}
}

	@media (min-width: 421px) and (max-width: 778px){
		/*code start*/
		.header{
			width: 100%;
		}
		.header .img-fluid{
			width: 60%;
		}
		.header .title h2 {
			font-size: 20px;
			line-height: 40px;
			margin: 0px 0px 10px;
		}
		 .navbar-toggler-icon span {
			background: #fff;
			color: #000;
			width: 22px;
			height: 22px;
		}
		.navbar-light .navbar-nav .nav-link.active {
			font-size: 15px;
		}
		.navbar-light .navbar-nav .nav-link {
			font-size: 15px;
		}
		.navbar-light .navbar-nav .nav-link.active:hover {
			color: #608cf9;
		}
		.header .navbar .btn-light {
			font-size: 12px;
			line-height: 22px;
			font-weight: 600;
			padding: 4px 20px;
		}
		.banner{
			padding: 0px;
		}
		.title h2 {
			font-size: 14px;
			line-height: 24px;
			margin: -133px 0px 5px;
			text-align: center;
		}
		.title p {
			font-size: 12px;
			line-height: 22px;
			text-align: center;
			padding: 0px 0px 50px;
		}
		.help{
			width: 100%;
			padding: 0px;
		}
		.help .title h2 {
			font-size: 16px;
			margin: 15px 0px 0px 105px;
			line-height: 20px;
		}
		.help .title p {
			font-size: 12px;
			line-height: 22px;
			width: 143%;
		}
		.help .title .btn-light {
			font-size: 9px;
			line-height: 18px;
			margin: -10px 0px 11px 105px;
		}
		.mission{
			padding: 0px;
		}
		.mission .title h2 {
			margin: 30px 0px 0px;
		}
		.mission .card {
			border-style: none;
			margin: 45px 0px 0px;
		}
		.mission .card .card-body {
			width: 107%;
			height: 160px;
			padding: 20px;
		}
		.mission .card .card-body h6 {
			font-size: 16px;
			line-height: 26px;
			width: 46%;
		}
		.mission .card .card-body p {
			font-size: 13px;
			line-height: 23px;
			width: 85%;
		}
		.mission .card .card-body img {
			top: 17px;
			left: 180px;
			width: 40px;
		}
		.acheivment{
			padding: 30px;
		}
		.acheivment .title h2 {
			font-size: 21px;
			line-height: 31px;
		}
		.inner-acheiv h5 {
			margin: -90px 0px 25px;
			text-align: center;
		}
		.inner-acheiv p {
			font-size: 13px;
			line-height: 23px;
			width: 100%;
			margin: 0px 0px 15px;
			text-align: center;
		}
		.inner-acheiv h6 {
			font-size: 13px;
			text-align: center;
		}
		.acheivment .img-fluid {
			margin: 15px 0px 0px;
			height: 242px;
		}
		.counter-js{
			padding: 20px;
		}
		.counter-js .title h2 {
			font-size: 20px;
			line-height: 31px;
		}
		.counter-js .title p {
			font-size: 14px;
			line-height: 24px;
		}
		.inner-c {
			width: 100%;
			margin: -25px 0px 40px 0px;
		}
		.inner-c i {
			font-size: 18px;
			line-height: 28px;;
		}
		.inner-c h4 {
			font-size: 22px;
			line-height: 32px;
		}
		.inner-c h5 {
			font-size: 12px;
			line-height: 22px;
			margin: 0px 0px -10px;
		}
		.event{
			padding: 10px;
		}
		.event .title h2 {
			margin: 5px 0px 18px;
			font-size: 21px;
			line-height: 31px;
		}
		.event .card {
			width: 100%;
			margin: 15px 0px 0px;
		}
		.event .card .card-title {
			font-size: 12px;
			line-height: 22px;
		}
		.event .card .card-text {
			font-size: 14px;
			line-height: 24px;
			margin: -7px 0px 0px;
		}
		.event .card .btn-light {
			top: -6px;
			left: 158px;
			padding: 4px 12px;
			font-size: 11px;
			line-height: 22px;
		}
		.title h2 {
			font-size: 16px;
			line-height: 26px;
			margin: 0px auto;
			text-align: center;
		}
		.gallary{
			padding: 20px;
		}
		.owl-carousel .owl-item img {
			width: 100%;
			margin: 20px auto;
		}
		.owl-theme .owl-dots .owl-dot span {
			width: 8px;
			height: 8px;
			margin: 6px 4px;
		}
		.testimonial{
			padding: 20px;
		}
		.testimonial .inner-test {
			padding: 68px;
		}
		.testimonial .title h2 {
			font-size: 21px;
			line-height: 31px;
			margin: 0px 0px 10px;
		}
		.testimonial .inner-test img {
			top: 22px;
			left: 12px;
			width: 80px;
		}
		.testimonial .inner-test p {
			width: 60%;
			top: 8px;
			left: 110px;
			font-size: 12px;
			line-height: 20px;
			text-align: inherit;
		}
		.testimonial .inner-test h5 {
			text-align: left;
			top: 100px;
			left: 25px;
			font-size: 11px;
			line-height: 18px;
		}
		.testimonial .inner-test h6 {
			top: 118px;
			left: 34px;
			font-size: 8px;
			line-height: 16px;
			margin: -5px 0px 0px;
		}
		.footer{
			width: 100%;
			padding: 15px;
		}
		.f-c {
			text-align: center;
		}
		.f-c img {
			width: 110px;
		}
		.f-c p {
			font-size: 12px;
			margin: 0px 0px 5px;
		}
		.f-list1 ul li {
			margin: -3px 0px 0px 0px;
		}
		.f-list1 {
			text-align: center;
			width: 85%;
			margin: 10px 0px 0px;
		}
		.f-list1 .b {
			font-size: 14px;
		}
		.f-list1 ul li a {
			font-size: 11px;
		}
		.f-list2 ul li {
			margin: -3px 0px 0px 0px;
		}
		.f-list2 {
			text-align: center;
			width: 85%;
			margin: -12px 0px 0px;
		}
		.f-list2 .b1 {
			font-size: 14px;
		}
		.f-list2 ul li a {
			font-size: 11px;
		}
		.f-list3 ul li {
			margin: -3px 0px 0px 0px;
		}
		.f-list3 {
			text-align: center;
			width: 85%;
			margin: -12px 0px 0px;
		}
		.f-list3 .b2 {
			font-size: 14px;
		}
		.f-list3 ul li a {
			font-size: 11px;
		}
		.share p {
			font-size: 14px;
		}
		.share .btn-light {
			font-size: 12px;
			line-height: 22px;
			padding: 4px 20px;
			margin: -8px 0px 15px 0px;
		}
		.copyright p {
			font-size: 12px;
			margin: 9px 0px 0px;
		}
		
		/*code end*/
	}


	@media (min-width: 779px) and (max-width: 992px){
		/*code start*/
		.header{
			width: 100%;
		}
		.header .img-fluid{
			width: 60%;
		}
		.header .title h2 {
			font-size: 20px;
			line-height: 40px;
			margin: 0px 0px 10px;
		}
		 .navbar-toggler-icon span {
			background: #fff;
			color: #000;
			width: 22px;
			height: 22px;
		}
		.navbar-light .navbar-nav .nav-link.active {
			font-size: 15px;
		}
		.navbar-light .navbar-nav .nav-link {
			font-size: 15px;
		}
		.navbar-light .navbar-nav .nav-link.active:hover {
			color: #608cf9;
		}
		.header .navbar .btn-light {
			font-size: 12px;
			line-height: 22px;
			font-weight: 600;
			padding: 4px 20px;
		}
		.banner{
			padding: 0px;
		}
		.title h2 {
			font-size: 14px;
			line-height: 24px;
			margin: -133px 0px 5px;
			text-align: center;
		}
		.title p {
			font-size: 12px;
			line-height: 22px;
			text-align: center;
			padding: 0px 0px 50px;
		}
		.help{
			width: 100%;
			padding: 0px;
		}
		.help .title h2 {
			font-size: 16px;
			margin: 15px 0px 0px 105px;
			line-height: 20px;
		}
		.help .title p {
			font-size: 12px;
			line-height: 22px;
			width: 143%;
		}
		.help .title .btn-light {
			font-size: 9px;
			line-height: 18px;
			margin: -10px 0px 11px 105px;
		}
		.mission{
			padding: 0px;
		}
		.mission .title h2 {
			margin: 30px 0px 0px;
		}
		.mission .card {
			border-style: none;
			margin: 45px 0px 0px;
		}
		.mission .card .card-body {
			width: 107%;
			height: 160px;
			padding: 20px;
		}
		.mission .card .card-body h6 {
			font-size: 16px;
			line-height: 26px;
			width: 46%;
		}
		.mission .card .card-body p {
			font-size: 13px;
			line-height: 23px;
			width: 85%;
		}
		.mission .card .card-body img {
			top: 17px;
			left: 180px;
			width: 40px;
		}
		.acheivment{
			padding: 30px;
		}
		.acheivment .title h2 {
			font-size: 21px;
			line-height: 31px;
		}
		.inner-acheiv h5 {
			margin: -90px 0px 25px;
			text-align: center;
		}
		.inner-acheiv p {
			font-size: 13px;
			line-height: 23px;
			width: 100%;
			margin: 0px 0px 15px;
			text-align: center;
		}
		.inner-acheiv h6 {
			font-size: 13px;
			text-align: center;
		}
		.acheivment .img-fluid {
			margin: 15px 0px 0px;
			height: 242px;
		}
		.counter-js{
			padding: 20px;
		}
		.counter-js .title h2 {
			font-size: 20px;
			line-height: 31px;
		}
		.counter-js .title p {
			font-size: 14px;
			line-height: 24px;
		}
		.inner-c {
			width: 100%;
			margin: -25px 0px 40px 0px;
		}
		.inner-c i {
			font-size: 18px;
			line-height: 28px;;
		}
		.inner-c h4 {
			font-size: 22px;
			line-height: 32px;
		}
		.inner-c h5 {
			font-size: 12px;
			line-height: 22px;
			margin: 0px 0px -10px;
		}
		.event{
			padding: 10px;
		}
		.event .title h2 {
			margin: 5px 0px 18px;
			font-size: 21px;
			line-height: 31px;
		}
		.event .card {
			width: 100%;
			margin: 15px 0px 0px;
		}
		.event .card .card-title {
			font-size: 12px;
			line-height: 22px;
		}
		.event .card .card-text {
			font-size: 14px;
			line-height: 24px;
			margin: -7px 0px 0px;
		}
		.event .card .btn-light {
			top: -6px;
			left: 158px;
			padding: 4px 12px;
			font-size: 11px;
			line-height: 22px;
		}
		.title h2 {
			font-size: 16px;
			line-height: 26px;
			margin: 0px auto;
			text-align: center;
		}
		.gallary{
			padding: 20px;
		}
		.owl-carousel .owl-item img {
			width: 100%;
			margin: 20px auto;
		}
		.owl-theme .owl-dots .owl-dot span {
			width: 8px;
			height: 8px;
			margin: 6px 4px;
		}
		.testimonial{
			padding: 20px;
		}
		.testimonial .inner-test {
			padding: 68px;
		}
		.testimonial .title h2 {
			font-size: 21px;
			line-height: 31px;
			margin: 0px 0px 10px;
		}
		.testimonial .inner-test img {
			top: 22px;
			left: 12px;
			width: 80px;
		}
		.testimonial .inner-test p {
			width: 60%;
			top: 8px;
			left: 110px;
			font-size: 12px;
			line-height: 20px;
			text-align: inherit;
		}
		.testimonial .inner-test h5 {
			text-align: left;
			top: 100px;
			left: 25px;
			font-size: 11px;
			line-height: 18px;
		}
		.testimonial .inner-test h6 {
			top: 118px;
			left: 34px;
			font-size: 8px;
			line-height: 16px;
			margin: -5px 0px 0px;
		}
		.footer{
			width: 100%;
			padding: 15px;
		}
		.f-c {
			text-align: center;
		}
		.f-c img {
			width: 110px;
		}
		.f-c p {
			font-size: 12px;
			margin: 0px 0px 5px;
		}
		.f-list1 ul li {
			margin: -3px 0px 0px 0px;
		}
		.f-list1 {
			text-align: center;
			width: 85%;
			margin: 10px 0px 0px;
		}
		.f-list1 .b {
			font-size: 14px;
		}
		.f-list1 ul li a {
			font-size: 11px;
		}
		.f-list2 ul li {
			margin: -3px 0px 0px 0px;
		}
		.f-list2 {
			text-align: center;
			width: 85%;
			margin: -12px 0px 0px;
		}
		.f-list2 .b1 {
			font-size: 14px;
		}
		.f-list2 ul li a {
			font-size: 11px;
		}
		.f-list3 ul li {
			margin: -3px 0px 0px 0px;
		}
		.f-list3 {
			text-align: center;
			width: 85%;
			margin: -12px 0px 0px;
		}
		.f-list3 .b2 {
			font-size: 14px;
		}
		.f-list3 ul li a {
			font-size: 11px;
		}
		.share p {
			font-size: 14px;
		}
		.share .btn-light {
			font-size: 12px;
			line-height: 22px;
			padding: 4px 20px;
			margin: -8px 0px 15px 0px;
		}
		.copyright p {
			font-size: 12px;
			margin: 9px 0px 0px;
		}
		
		/*code end*/
	}





































































	/*code start*/